
/* ============================================================  1500 - 9999  ============================================================ */

@media only screen 
and (min-width: 1500px) {
	
	/* ============================== HOMEPAGE ============================== */
	
	/* header */
	
	.home div#header {
		max-width: 1500px;
		left: 50%;
		margin-left: -750px;
	}

}



/* ============================================================  1499 - 0000  ============================================================ */

@media only screen 
and (max-width: 1499px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* header */
	
	.logo {
		left: 10px;
		top: 10px;
	}

}



/* ============================================================  1439 - 0000  ============================================================ */

@media only screen 
and (max-width: 1439px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* header */
	
	.navigation {
		right: 258px;
	}
	
	

}



/* ============================================================  1024 - 0000  ============================================================ */

@media only screen 
and (max-width: 1024px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* welcome */
	
	#welcome form {
		width: 600px;
		margin: 0 auto;
	}
	
	#welcome .calsec,
	#welcome .dropsec {
		display: block;
		margin-bottom: 5px;
	}
	
	#welcome input,
	#welcome select {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	#welcome .button3 {
		width: 100%;
	}
	

}



/* ============================================================  799 - 000  ============================================================ */

@media only screen 
and (max-width: 799px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* instafeed */
	
	#instafeed img {
		height: 280px;
	}
	
	#instafeed .instabox {
		width: 33.33%;
		margin-bottom: 1px;
	}
	
	#instafeed .instabox.four,
	#instafeed .instabox.five {
		width: 50%;
	}
	
	#instafeed .instabox.four a {
		margin-right: 1px;
	}
	
	#instafeed .instabox.three a,
	#instafeed .instabox.five a {
		margin-right: 0;
	}
	
	#instafeed .instaimg {
		display: block;
		height: 260px;
	}
	
	#instafeed img {
		display: none;
	}
	
	
	/* ======================== ////// ======================== */
	
	.navigation #navmenu { display: none }
	.reserve { right: 80px; }
	.hamburger { right: -53px; top: -1px; width: 40px; overflow: hidden; }
	
	
	.logo { left: 15px; width: 115px; }
	#welcome .formfields { display: none; }
	
	.flexslider.roomslider li { height: 250px }
	.room-caption { right: 25px; }
	.room-caption h3 { font-size: 21px; margin-bottom: 0; }
	.room-caption .button5 { padding: 2px; font-size: 15px; }
	.flexslider.roomslider { height: 250px; }
	.flexslider.roomcarousel .slides li { height: 180px; width: 180px !important; }
	.flexslider.roomcarousel .slides li .flex-caption { font-size: 17px; }
	
	.flexslider.discoverdining {  width: 100%; float: none; }
	.flexslider.discoverweddings {  width: 100%; float: none; }
	
	.footleft { display: none; }
	.footmiddle { width: 100%; }
	.footright { display: none; }
	
	.footaddress { max-width: 90%; margin: auto auto 50px; }
	.flexslider.roomcarousel a.flex-next { background: #ff9968; }
}



/* ============================================================  640 - 000  ============================================================ */

@media only screen 
and (max-width: 640px) {
	
	/* ======================== HOMEPAGE ======================== */
	
}



/* ============================================================  568 - 000  ============================================================ */

@media only screen 
and (max-width: 568px) {
	
	/* ======================== HOMEPAGE ======================== */
	
}



/* ============================================================  568 - 000  ============================================================ */

@media only screen 
and (max-width: 479px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* instafeed */
	
	#instafeed .instabox {
		margin-right: 0;
		width: auto;
		float: none;
	}
	
	#instafeed .instabox.four,
	#instafeed .instabox.five {
		width: auto;
	}
	
	#instafeed .instabox a,
	#instafeed .instabox.four a {
		margin-right: 0;
	}
	
}

















/* ============================================================  HEIGHT 600 - 000  ============================================================ */

@media only screen 
and (max-height: 600px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* instafeed */
	
	#instafeed .instaimg {
		height: 220px;
	}
	
}



/* ============================================================  HEIGHT 500 - 000  ============================================================ */

@media only screen 
and (max-height: 500px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* instafeed */
	
	#instafeed .instaimg {
		height: 200px;
	}
	
}
