
/* ============================================================  1500 - 9999  ============================================================ */

@media only screen 
and (min-width: 1500px) {
	
	/* ============================== HOMEPAGE ============================== */
	
	/* header */
	
	.home div#header {
		max-width: 1500px;
		left: 50%;
		margin-left: -750px;
	}

}



/* ============================================================  1499 - 0000  ============================================================ */

@media only screen 
and (max-width: 1499px) {
	
	/* ======================== HEADER ======================== */
	
	.logo {
		left: 10px;
		top: 10px;
	}

}



/* ============================================================  1439 - 0000  ============================================================ */

@media only screen 
and (max-width: 1439px) {
	
	/* ======================== HEADER ======================== */
	
	/* nav */
	
	.navigation {
		right: 258px;
	}
	
	

}



/* ============================================================  1024 - 0000  ============================================================ */

@media only screen 
and (max-width: 1024px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* top banner */
	
	.topbannercontent {
		top: auto;
		bottom: 125px;
	}
	
	/* welcome */
	
	#welcome form {
		width: 600px;
		margin: 0 auto;
	}
	
	#welcome .calsec,
	#welcome .dropsec {
		display: block;
		margin-bottom: 5px;
	}
	
	#welcome input,
	#welcome select {
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	#welcome .button3 {
		width: 100%;
	}
	
	/* roomsection */
	
	.room-caption {
		width: 520px;
	}
	

}



/* ============================================================  1023 - 0000  ============================================================ */

@media only screen 
and (max-width: 1023px) {

}



/* ============================================================  959 - 000  ============================================================ */

@media only screen 
and (max-width: 959px) {
	
	/* ======================== NAVIGATION ======================== */
	
	.navigation #navmenu {
		display: none;
	}
	
	.hamburger {
		top: 0;
		width: 40px;
		overflow: hidden;
	}
	
}



/* ============================================================  799 - 000  ============================================================ */

@media only screen 
and (max-width: 799px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* instafeed */
	
	#instafeed img {
		height: 280px;
	}
	
	#instafeed .instabox {
		width: 33.33%;
		margin-bottom: 1px;
	}
	
	#instafeed .instabox.four,
	#instafeed .instabox.five {
		width: 50%;
	}
	
	#instafeed .instabox.four a {
		margin-right: 1px;
	}
	
	#instafeed .instabox.three a,
	#instafeed .instabox.five a {
		margin-right: 0;
	}
	
	#instafeed .instaimg {
		display: block;
		height: 260px;
	}
	
	#instafeed img {
		display: none;
	}
	
	
	/* ======================== ////// ======================== */
	
	.navigation #navmenu { display: none }
	.hamburger { top: 0; width: 40px; overflow: hidden; }
	
	
	.logo { left: 15px; width: 115px; }
	#welcome .formfields { display: none; }
	
	/*
	.flexslider.roomslider li { height: 250px }
	.room-caption { right: 25px; }
	.room-caption h3 { font-size: 21px; margin-bottom: 0; }
	.room-caption .button5 { padding: 2px; font-size: 15px; }
	.flexslider.roomslider { height: 250px; }
	*/
	.flexslider.roomcarousel .slides li { height: 180px; width: 180px !important; }
	.flexslider.roomcarousel .slides li .flex-caption { font-size: 17px; }
	
	.flexslider.discoverdining {  width: 100%; float: none; }
	.flexslider.discoverweddings {  width: 100%; float: none; }
	
	.footleft { display: none; }
	.footmiddle { width: 100%; }
	.footright { display: none; }
	
	.footaddress { max-width: 90%; margin: auto auto 50px; }
	.flexslider.roomcarousel a.flex-next { background: #ff9968; }
}



/* ============================================================  640 - 000  ============================================================ */

@media only screen 
and (max-width: 640px) {



}



/* ============================================================  599 - 000  ============================================================ */

@media only screen 
and (max-width: 599px) {

	/* ======================== HOMEPAGE ======================== */
	
	/* top banner */
	
	.topbannercontent {
		left: 50%;
		margin-left: -131px;
	}


}



/* ============================================================  568 - 000  ============================================================ */

@media only screen 
and (max-width: 568px) {

}



/* ============================================================  479 - 000  ============================================================ */

@media only screen 
and (max-width: 479px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* top banner */
	
	.topbannercontent {
		bottom: 85px;
	}
	
	.arrow {
		top: auto;
		bottom: 25px;
	}
	
	/* instafeed */
	
	#instafeed .instabox {
		margin-right: 0;
		width: auto;
		float: none;
	}
	
	#instafeed .instabox.four,
	#instafeed .instabox.five {
		width: auto;
	}
	
	#instafeed .instabox a,
	#instafeed .instabox.four a {
		margin-right: 0;
	}
	
}



/* ============================================================  399 - 000  ============================================================ */

@media only screen 
and (max-width: 399px) {

	/* ======================== HEADER ======================== */
	
	/* nav */
	
	.rightnav {
		width: 320px;
	}
	
	.opened {
		left: -320px;
	}

}



/* ============================================================  319 - 000  ============================================================ */

@media only screen 
and (max-width: 319px) {

	/* ======================== HEADER ======================== */
	
	/* nav */
	
	.rightnav {
		width: 100%;
	}
	
	.opened {
		left: -100%;
	}

}





















/* ============================================================  HEIGHT 640 - 000  ============================================================ */

@media only screen 
and (max-height: 640px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* topbanner */
	
	.flexslider.topbanner li {
		height: 640px;
	}
	
}



/* ============================================================  HEIGHT 600 - 000  ============================================================ */

@media only screen 
and (max-height: 600px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* topbanner */
	
	.flexslider.topbanner li {
		height: 600px;
	}
	
	.arrow {
		top: auto;
		bottom: 25px;
	}
	
	/* instafeed */
	
	#instafeed .instaimg {
		height: 220px;
	}
	
}



/* ============================================================  HEIGHT 500 - 000  ============================================================ */

@media only screen 
and (max-height: 500px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* topbanner */
	
	.flexslider.topbanner li {
		height: 500px;
	}
	
	/* instafeed */
	
	#instafeed .instaimg {
		height: 200px;
	}
	
	/* roomsection */
	
	.flexslider.roomslider {
		height: 480px;
	}
	
	.flexslider.roomslider li {
		height: 480px;
	}
	
	.room-caption {
		bottom: 44px;
	}
	
}



/* ============================================================  HEIGHT 400 - 000  ============================================================ */

@media only screen 
and (max-height: 400px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* topbanner */
	
	.flexslider.topbanner li {
		height: 400px;
	}
	
	.topbannercontent {
		bottom: 45px;
	}
	
	.reservenow {
		display: none;
	}
	
	/* roomsection */
	
	.flexslider.roomslider {
		height: 380px;
	}
	
	.flexslider.roomslider li {
		height: 380px;
	}
	
	
}



/* ============================================================  HEIGHT 320 - 000  ============================================================ */

@media only screen 
and (max-height: 320px) {
	
	/* ======================== HOMEPAGE ======================== */
	
	/* topbanner */
	
	.flexslider.topbanner li {
		height: 320px;
	}
	
	/* roomsection */
	
	.flexslider.roomslider {
		height: 300px;
	}
	
	.flexslider.roomslider li {
		height: 300px;
	}
	
}
